
*{
    padding: 0;
    margin: 0;
    font-family: poppins;
    
}
header {
    display: flex;
    flex-direction: row;
    background-color:#131921;
    width: 100%;
    height: 60px;
}
.logo {
    background-image: url(../img/amazon.png);
    background-size: cover;
    width: 113px;
    height: 50px;
}
.ubicacion {
    font-size: 0.8em;
    justify-content: center;
    width: 150px;
    color: #CCCCCC;
}
.icono-ubicacion {
    font-size: 20px;
    float: left;
    margin: 8px;
    grid-area: icono-ubicacion;
}
.enviar {
    margin-top: 10px;
    grid-area: enviar;
}
.pais {
    grid-area: pais;
}/* contenedor donde esta lo de busqueda */
.content-busqueda {
    width: calc(100% - 700px);
    margin: 10px 0 ;
    display: flex;
    flex-direction: row;
    height: 40px;
}
select, .input_buscador,.icon-busqueda {
    height: 100%;
    border: none;
}
select {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 65px;
    background-color: #FEBD69;
}
.input_buscador {
    outline: none;
    width: calc(100% - 0px);
}
.icon-busqueda {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #FEBD69;
    width: 40px;
}
.search {
    font-size: 21px;
}/* so far */

.idioma {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 71.3px;
}
.bandera,.lengua {
    padding-right: 3px;
    padding-top: 28px;
    width: 20px;
    height: 14px;
}
.lengua {
    color: white;
}/* so far */
.hola {
    height: 60px;
    width: 131px;
}
.saludo,.cuenta {
    color: white;
    font-size: 0.8em;
}
.saludo {
    padding-top: 16px;
    color: white;
}/* so far */
.reembolso {
    height: 60px;
    width: 77px;
}
.orden,.retornar{
    color: white;
    font-size: 0.8em;
}
.retornar {
    padding-top: 16px;
    color: white;
}
.carrito {
    display: flex;
    height: 60px;
    width: 90px;
}
.i-carrito {
    height: 60px;
    width: 50px;
    margin: 20px 0 0 ;
    padding: 0 1 1 0px ;
    padding-left: 15px;
    color: white;
}
.l-carrito {
    font-size: 0.8em;
    padding-bottom: 50px;
    padding-left: 1px;
    margin: 20px;
    color: white;
}


/* Estilo para el separador vertical */
.vertical-separator {
    width: 2px; /* Ancho de la línea vertical */
    background-color: #000; /* Color de la línea (puedes cambiarlo) */
    height: 90%; /* Altura del separador, 100% para que abarque toda la altura del contenedor */
    position: absolute;
    left: 70%; /* Puedes ajustar la posición izquierda/derecha */
    top: 10;
}

/* modal */

.box-modal{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(0, 0, 0,.5);
    z-index: 10;

}
.modal{
    width: 90%;
    height: 80%;
    z-index: 20;
    background-color: white;
    border-radius: 20px;
    position: relative;
    display: grid;
    grid-template: "box-main-img-modal  info-modal"   / 
                            1fr           350px;
}



/* la x */
.btn-close {
   position: absolute;
   top: 5px;
   right: 10px;
   font-size: 1.3em;
   border: 3px solid rgb(44, 176, 224,0.3);
   border-radius: 6px;
   padding: 0 3px;
   cursor: pointer;
}
.box-main-img-modal{
    grid-area: box-main-img-modal;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-img-modal{
    width: 40%;
    object-fit: cover;
}
.info-modal{
    grid-area: info-modal;
    padding: 60px 40px 20px 35px;

}
.txt-caracteristicas-modal {

    font-size: 1.1em;
    text-align: justify;
    line-height: 1.1em;
}


/* contenedor pantalla principal */


.main-content {
    width: 100%;
    height: 100%;
    z-index: 10; 
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: absolute;
    display: grid;
    grid-template: "principal-container-img     principal-box-main-img-modal    principal-info-modal     pricipal-sub-contenedor  "   /
                             150px                       1fr                           650px                        300px ;
 }
 .txt-caracteristicas-titulo{
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.1em;
    font-weight: 450;
 }
.principal-container-img {
    grid-area: principal-container-img;
    margin-top: 50px;
    
   
}
.principal-box-main-img-modal {
    grid-area: principal-box-main-img-modal;
    width: 100%;
    height: 120%;
    display: flex;  
    justify-content: center;
    padding-top: 0%;
}
.principal-info-modal {
    grid-area: principal-info-modal;
    padding: 30px 60px 30px 30px;
    margin-right: 250px;
}
.principal-main-img-modal {
    width: 50%;
    height: 50%;
    margin-top: 60px;
   
}
.principal-article {
    border-radius: 10px;
   border: solid 1px rgb(77, 77, 79);
    height: 50px;
    width: 50px;
    margin: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.article:hover {
cursor: pointer;
border: 2px solid rgb(9, 89, 159);

}


.img-mini-principal {
    width: 49%;
    cursor: pointer; 
  }
  




/* cuadritos imagenes chiquitas */
.contenedor {
    position: absolute;
    top: 200px;
    right: 1px;
   /*  width: 3400px;
    height: 1000px; */
    display: grid;
    align-content: center;
    justify-content: center;
    /* border: 1px solid black; */
    grid-template-columns: repeat(4, 60px);/* ancho */
    grid-template-rows: repeat(6,60px) ;  /* alto */    /* tambien funciona el codigo   repeat(4, 100 px) */ /* 1fr  =   1fraccion */
    grid-gap: 20px 24px;
    }
    .contenedor .inicio {
        grid-column-start: 1;
        background-color: rgb(255, 255, 255) ;
        display: flex;
        justify-content: center;
        align-content: center;
        color: white;
        cursor: pointer;
        border: 2px solid rgb(218, 218, 218);
      
    }
    .box:hover {
        padding: 1px;
        border:2px solid #30598d;
    }
    .dia {
        background-color: rgb(255, 255, 255) ;
        display: flex;
        justify-content: center;
        align-content: center;
        color: white;
        cursor: pointer;
        border: 2px solid rgb(218, 218, 218);
    }
    .selected {
        border-color: rgb(247, 96, 15);
      }

      /* zoom */
     
/* Estilo para la imagen principal */


      /* fuentes */
      
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}