
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    background-color:#131921;
    width: 100%;
    height: 60px;
}
.logo {
    background-image: url(../img/amazon.png);
    background-size: cover;
    width: 113px;
    height: 50px;
}
.ubicacion {
    font-size: 0.8em;
    justify-content: center;
    width: 150px;
    color: #CCCCCC;
}
.icono-ubicacion {
    font-size: 20px;
    float: left;
    margin: 8px;
    grid-area: icono-ubicacion;
}
.enviar {
    margin-top: 10px;
    grid-area: enviar;
}
.pais {
    grid-area: pais;
}/* contenedor donde esta lo de busqueda */
.content-busqueda {
    width: calc(100% - 700px);
    margin: 10px 0 ;
    display: flex;
    flex-direction: row;
    height: 40px;
}
select, .input_buscador,.icon-busqueda {
    height: 100%;
    border: none;
}
select {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 65px;
    background-color: #FEBD69;
}
.input_buscador {
    outline: none;
    width: calc(100% - 0px);
}
.icon-busqueda {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #FEBD69;
    width: 40px;
}
.search {
    font-size: 21px;
}/* so far */

.idioma {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 71.3px;
}
.bandera,.lengua {
    padding-right: 3px;
    padding-top: 28px;
    width: 20px;
    height: 14px;
}
.lengua {
    color: white;
}/* so far */
.hola {
    height: 60px;
    width: 131px;
}
.saludo,.cuenta {
    color: white;
    font-size: 0.8em;
}
.saludo {
    padding-top: 16px;
    color: white;
}/* so far */
.reembolso {
    height: 60px;
    width: 77px;
}
.orden,.retornar{
    color: white;
    font-size: 0.8em;
}
.retornar {
    padding-top: 16px;
    color: white;
}
.carrito {
    display: flex;
    height: 60px;
    width: 90px;
}
.i-carrito {
    height: 60px;
    width: 50px;
    margin: 20px 0 0 ;
    padding: 0 1 1 0px ;
    padding-left: 15px;
    color: white;
}
.l-carrito {
    font-size: 0.8em;
    padding-bottom: 50px;
    padding-left: 1px;
    margin: 20px;
    color: white;
}


/* Estilo para el separador vertical */
.vertical-separator {
    width: 2px; /* Ancho de la línea vertical */
    background-color: #000; /* Color de la línea (puedes cambiarlo) */
    height: 90%; /* Altura del separador, 100% para que abarque toda la altura del contenedor */
    position: absolute;
    left: 70%; /* Puedes ajustar la posición izquierda/derecha */
    top: 10;
}

/* modal */

.box-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(0, 0, 0,.5);
    z-index: 10;

}
.modal{
    width: 95%;
    height: 85%;
    z-index: 20;
    background-color: white;
    border-radius: 20px;
    position: relative;
    display: grid;
    grid-template: "box-main-img-modal  info-modal"     / 
                            1fr           350px;

}

/* la x */
.btn-close {
   position: absolute;
   top: 5px;
   right: 10px;
   font-size: 1.3em;
   border: 3px solid rgb(44, 176, 224,0.3);
   border-radius: 6px;
   padding: 0 3px;
}
.box-main-img-modal{
    grid-area: box-main-img-modal;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-img-modal{
    width: 40%;
    height: auto;
}
.info-modal{
    grid-area: info-modal;
    padding: 20px 40px 20px 40px;

}

.txt-caracteristicas-modal {
    
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.1em;

}



