label {
    font-size: 3em;
    color: antiquewhite;
}

body {
    background-color: rgb(20, 20, 209);
    
}
.boto1 {
    list-style: none; /* Para quitar el boton de inicio en los link */
    display: inline-block; 
    padding: 10px 20px; 
    font-size: 14px; /* Se establece el tamaño de la fuente */
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
    outline: none; 
    color: rgb(225, 0, 0); /* El puento del boton */
    background-color: blue; /* Color del fondo del boton */
    border: none; /* Se le hace un color de borde dependiendo de los siguientes datos, ej {2px solid red) se utilizaria sin las comillas */
    border-radius: 15px;/* Cambia las esquinas rodondeandolo */
 
    box-shadow: 0 9px blue; /* Sombra del boton */
    margin-right: 20px; /* separar los botones */
}
.lista { /* Para centar el boton */
    font-size: 1.6em;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    margin: 50px;
    justify-content: center;
    align-items: center;
}
.fuentes{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 200px;
    font-weight: 100;
}

@font-face {
    font-family: waltograph1;
    src: url(../fonts/waltograph42.otf);
}

.fuentes {
    font-family: waltograph1;
}