
body{
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    margin: 100px;
font-family: 'Times New Roman', Times, serif;
}
li{
    margin:30px;
    padding-left: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
body h1,h2{
    font-family:'Times New Roman', Times, serif;
    color: brown;
   
}
    

