
*{
  padding: 0;
  margin: 0;  
}
body{
  width: 100%;
  display: grid;
  background-color: rgb(57, 143, 57);
  grid-template: "empty-left         main-page           empty-right"  100vh /
               minmax(30px,1fr)  minmax(700px, 1200px)   minmax(30px,1fr) ;
}
.main-page{
  grid-area: main-page ;
}

/* nuevo */
.item-style a {
  text-decoration: none;
  color: rgb(2, 40, 2);
  padding-left: 100px;
  text-align: center;
  justify-content: flex-end;
}
.item-style:hover {
  background: rgb(79, 134, 13);

}
.menu {
  text-decoration: none;
  list-style: none;
  padding:0px 20px ;
  border-radius: 100px;
  font-weight: 200;
  font-size: 1.1em;
  top: 50px;
  left: 50px;
  display: inline-flex;

}
.main-nav   {
  
   padding: 25px;
   height: 45px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 1.5em;
}
.mainMenu {
  text-decoration: none;
  list-style: center;
}
/* fin */

header{
  display: grid;
  margin-top: 50px;
  gap: 30px;
  grid-template: "logo       main-menu" 80px / 
                 70px       minmax(500px,100%);
}
.logo{

  border-radius: 15px;
  grid-area:logo   ;
  
}
.main-menu{
  border-radius: 15PX;
  grid-area:main-menu ;
  background-color: rgb(197, 120, 48);
  width: 100%;
  background-color: grey; /* este es sin aumentp vista pc */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.style-text{
  font-family: Verdana, sans-serif;
  font-size: 1.6em;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.main-content{

  margin-top: 40px 70px;
  display: grid;
  gap: 30px;
  grid-template: " main-img   main-img    main-img" 600px 
                  "article-1    article-2   article-3"
                  "article-4    article-5   article-6"450px / 
                     1fr           1fr        1fr  ;

}
.logo-img{
  cursor: pointer;
  width: 100%;
  background-image: url(../img/logo.jpg); /* este es sin aumentp vista pc */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-img{
  border-radius: 15PX;
  margin-top: 15PX;
  grid-area: main-img;
  width: 100%;
  background-image: url(../img/serpiente.png); /* este es sin aumentp vista pc */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-article-1{
  width: 100%;
  background-image: url(../img/primera.jpg); /* este es sin aumentp vista pc */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-article-2 {
  width: 100%;
  background-image: url(../img/segunda.jpg); /* este es sin aumentp vista pc */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-article-3 {
  width: 100%;
  background-image: url(../img/tercera.jpg); /* este es sin aumentp vista pc */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-article-4 {
  width: 100%;
  background-image: url(../img/cuarta.jpg); /* este es sin aumentp vista pc */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-article-5 {
  width: 100%;
  background-image: url(../img/quinta.jpg); /* este es sin aumentp vista pc */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-article-6{
  width: 100%;
  background-image: url(../img/sesta.jpg); /* este es sin aumentp vista pc */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.article-1{grid-area: article-1 ;}
.article-2{grid-area: article-2 ;}
.article-3{grid-area: article-3 ;}
.article-4{grid-area: article-4 ;}
.article-5{grid-area: article-5 ;}
.article-6{grid-area: article-6 ;}

.img-article{
  border-radius: 15PX;
  height: 350px;
  background-color: blueviolet;
}
.style-text-article{
  padding-top: 30px;
  color: black;
  text-align: justify;
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4em;
}
/* / Móviles en horizontal o tablets en vertical
 ///////////////////////////////////////////////////////////////////////////////////////// / */

/* Mobile phones */
@media only screen and (max-width :750px) {  /* 750px */
  body {
      grid-template:
        "main-page"
        auto
        "main-page"
        auto / 100%;
  }
  
  .main-page {
      margin: 20px;
    }
    header{
      grid-template: "logo    main-menu"50px/
                      50px       minmax(50px , 400px);
      justify-content: center;
    }
    .main-content{
      grid-template: 
      "main-img"
      550px
      "article-1"
      auto
      "article-2"
      auto
      "article-3"
      auto
      "article-4"
      auto
      "article-5"
      auto
      "article-6"
      auto / 100%;
    }
    .img-article{
      height: 200px;
    }
    .style-text-article{
      padding-top: 30px;
      color: black;
      text-align: justify;
      font-size: 1em;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      line-height: 1.4em;
  }
  .style-text{
      padding-top: 10px;
      font-family: Verdana, sans-serif;
      font-size: 20px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .main-img{
    border-radius: 15PX;
    margin-top: 15PX;
    grid-area: main-img;
    width: 100%;
    background-image: url(../img/fondo3.avif); /* este es sin aumentp vista pc */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.menu {
  list-style: none;
  text-align: center;
  padding:0px 10px ;
  border-radius: 0;
  font-weight: 200;
  top: 50px;
  left: 50px;
  display: flex;
  text-decoration: none;

}
.main-nav {
   list-style: center;
   padding: 15px;
   height: 2px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 1em;
   cursor: pointer;  
   text-decoration: none;
}
.li .a {
  text-decoration: none;
}
.item-style a {
  text-decoration: none;
  color: rgb(54, 10, 10);
  padding: 2px;
}
}





