h1{
    text-align:center;
}
.boto1 {
    list-style: none; /* Para quitar el boton de inicio en los link */
    display: inline-block; 
    padding: 10px 20px; 
    font-size: 14px; /* Se establece el tamaño de la fuente */
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
    outline: none; 
    color: rgb(225, 0, 0); /* El puento del boton */
    background-color: tomato; /* Color del fondo del boton */
    border: none; /* Se le hace un color de borde dependiendo de los siguientes datos, ej {2px solid red) se utilizaria sin las comillas */
    border-radius: 15px;/* Cambia las esquinas rodondeandolo */
 
    box-shadow: 0 9px rgb(255, 240, 245); /* Sombra del boton */
    margin-right: 20px; /* separar los botones */
}
.lista { /* Para centar el boton */
    font-size: 1.6em;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    margin: 50px;
    justify-content: center;
    align-items: center;
}
.main-box{
    display: flex;
    flex-direction: row;
}
.box-style{/* sirve paRA TODOS los cuadros */
width: 250px;
text-align:justify;
margin: 20px;
display:inline-block; /* sirve para organizar los cuadros de horizontalmente */
padding: 15px 35px;
font-size: 1.3em;
letter-spacing: 0;
word-spacing: 0;
line-height: 1.3em;

}
.box-1{
    border: 2px solid rgb(64, 64, 64,.9);
   /* solid- sirve para que el borde se mire */
   margin-bottom:20px;
   background-color: tomato;
}
.box-2{
    border: 2px dashed rgb(64, 64, 64,.9);
   /* dashed- sirve para que el borde tenga rayitas */
   margin-bottom: 20px;
   background-color:greenyellow
}
.box-3{
    border: 2px dotted rgb(64, 64, 64,.9);
   /* dotted- sirve para que el borde tenga punticos todavia mas pequeñas */
   margin-bottom: 20px;
   background-color:seagreen
}
.box-4{
    border: 2px double rgb(64, 64, 64,.9);
   /* double- es un marco con doble lineas muy delgadas */
   margin-bottom: 20px;
   background-color:paleturquoise
}
