
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(38, 27, 27); */
}
header {
    height: 95px;
}
.page-box-slider {
    width: 100%;
    overflow-x: hidden;
}
.box-slider {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* mantiene el tamaño del contenido, Een este caso la imagen */
    height: calc(135vh - 95px);
    position: relative;
    z-index: 10;
    transition: all 1s;
}

.box-slider-1 {
    left: 0%;
    transition: 1s;
}
.box-slider-2 {
    left: -110%;
    transition: 1s;
}
.box-slider-3 {
    left: -212%;
    transition: 1s;
}
.box-slider-4 {
    left: -319%;
    transition: 1s;
}

.icon-chevron-left, .icon-chevron-right {
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    position: relative;
    top: calc((-120vh) + 210px);
    z-index: 20;
   
}
.icon-chevron-left {
    padding-left: 10px;
}

.icon-chevron-right {
    display: flex;
    justify-content: flex-end;
    top: calc((-125vh) + 220px);
    left: calc((+100vh) + 640px);
    padding-left: 120px;
}
.icon-chevron-right, .icon-chevron-left {
    cursor: pointer;
}
.box-box-signal {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -690px;
    z-index: 150;
    
}
.box-signal {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;

}
.signal {
    width: 20px;
    height:20px;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    
    border-radius: 15px;
}
.signal-select {
    background-color: rgb(242, 13, 13);

}

