.body {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e0d0d; 
  }
  
  .hero {
  /*   background-color: #fff; */
    padding: 20px;
    text-align: center;
  }
  
  .content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .title {
    font-size: 28px;
    font-weight: bold;
    color: #dd660b;
  }
  /* .text-sub {
    color: rgb(221, 13, 51);
    
  }
   */
  .main-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px ;
    /* background-color: aliceblue; */ /* color fondo */
  }
  
  .main-div > div {
   /*  background-color: #fff; */
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #5d4f4f; 
    box-shadow: 0px 2px 8px rgba(28, 110, 155, 0.875);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .main-div > div:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(221, 14, 14, 0.2);
  }
  
  .main-div a {
    text-decoration: none;
    color: #a1a5a9;
    font-weight: bold;
    transition: color 0.2s;
    font-size: 1.2em;
  }
  
  .main-div a:hover {
    color: #1ea28a;
  }
 
  /* lluvia */

  
  .rain {
    position: absolute;
    top: -50px;
    animation: fall 1s linear infinite;
  }
  
  @keyframes fall {
    to {
      transform: translateY(100vh);
    }
  }
  